<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transports</title>
    <link href="/static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link href="/static/css/transport/table.css" th:href="@{/css/transport/table.css}" rel="stylesheet" />
    <link href="/static/css/transport/transport.css" th:href="@{/css/transport/transport.css}" rel="stylesheet" />
    <link href="/static/css/transport/add-car-form.css" th:href="@{/css/transport/add-car-form.css}" rel="stylesheet" />
</head>
<body>
<div><div th:insert="fragments/home :: navbar"></div></div>
<div th:insert="fragments/home :: top-three-blocks"></div>
<div class="transport-menu" th:insert="fragments/transports :: transport-menu"></div>
<div id="form-container">
    <form action="#" th:action="@{create}" th:object="${car}" method="post">
        <input type="text" id="fbrand" field="*{carBrand}" name="carBrand" placeholder="Brand"/>
        <input type="text" id="fmodel" field="*{carModel}" name="carModel" placeholder="Model"/>
        <input type="text" id="lnumber" field="*{carNumber}" name="carNumber" placeholder="Number"/>
        <select id="fbodytype" field="*{bodyType}" name="bodyType">
            <option value="Furqon">Van</option>
            <option value="Yarımqoşqu">Semitrailer</option>
            <option value="Yarımqoşqu-ref">Reefer</option>
        </select>
        <input type="number" step="0.01"  lang="en_EN" id="fcarryingCapacity" field="*{carryingCapacity}" name="carryingCapacity"
               placeholder="Carrying capacity"/>
        <input  class="addButton" type="submit" value="Save"/>
    </form>
    <div class="close"><a th:href="@{/transport/}">close</a></div>
</div>

<div class="body-square">
    <div class="table-all-cars1">
    <table class="table">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Number</th>
            <th>Body type</th>
            <th>Carrying capacity</th>
            <th>Status</th>

        </tr>
        <tr>
            <form   th:action="@{'/transport/updateCar/{id}'(id=${editCar.id})}" th:object="${editCar}" th:method="put">
              <input type="hidden" name="id" th:field="*{id}" />
                <td><input type="text" name="carBrand" th:field="*{carBrand}" /></td>
                <td><input type="text" name="carModel" th:field="*{carModel}" /></td>
                <td><input type="text" name="carNumber" th:field="*{carNumber}" /></td>

                <td><select th:field="*{bodyType}" name="bodyType">
                    <option value="Van">Van</option>
                    <option value="Semitrailer">Semitrailer</option>
                    <option value="Reefer">Reefer</option>
                </select></td>
                <td><input type="number" lang="en" name="carryingCapacity" th:field="*{carryingCapacity}" /></td>
                <td><input type="text"  name="carStatus" th:field="*{carStatus}" readonly/></td>
                <td><button class="editButton" type="submit" >Save</button></form></td>
         </tr>
    </table>
    </div>
</div>
<div class="body-square">
    <div class="table-all-cars2">

    </div>
</div>
<script>
document.getElementById('trigger').onclick = function() {
document.getElementById('form-container').style.display = 'block';
}
</script>
</body>
</html>