<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Driver Info</title>
  <link href="/static/css/driver/table.css" th:href="@{/css/driver/table.css}" rel="stylesheet" />
  <link href="/static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet" />
  <link href="/static/css/driver/driverMenu.css" th:href="@{/css/driver/driverMenu.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://kit.fontawesome.com/206cb32d9c.css"  crossorigin="anonymous">
  <link href="/static/css/icons/fontawesome.css" th:href="@{/css/icons/fontawesome.css}"rel="stylesheet">
  <link href="/static/css/icons/brands.css" th:href="@{/css/icons/brands.css}"rel="stylesheet">
  <link href="/static/css/icons/solid.css" th:href="@{/css/icons/solid.css}"rel="stylesheet">


</head>
<body>


<div><div th:insert="fragments/home :: navbar"></div></div>
<div th:insert="fragments/home :: top-three-blocks"></div>
<div class="menu-block">
  <button class="add-driver-button"> <i class="fa-solid fa-user-plus"></i> ADD DRIVER</button>
</div>

<div class="table-block">
<table class="info-driver-table">
  <tr>
    <th colspan="3">Name</th>
<tr>
  <td  colspan="3" th:text="${driverInfo.name} + ' ' + ${driverInfo.surname}"></td>
</tr>
  </tr>
  <tr>
  <th colspan="2">Category</th>
    <th >Status</th>
  </tr>
  <tr>
    <td  colspan="2" th:text="${driverInfo.drivingCategory}"></td>
    <td th:text="${driverInfo.driverStatus}"></td>
  </tr>
  <tr>
    <th >Number</th>
    <th >Date</th>
    <th >Id</th>
  </tr>
  <tr>
    <td th:text="${driverInfo.phoneNumber}" ></td>
    <td th:text="${driverInfo.employmetDate}" ></td>
    <td th:text="${driverInfo.driverId}"></td>
  </tr>

</table>
<div class="edit-block">
  <button class="info-edit-button"type="submit"> <i class="fa-solid fa-pen-to-square"></i> Edit</button>

  <input type="date" id="dt" >
</div>
</div>
<script type="text/javascript"  th:src="@{/js/driver/calendar.js}"></script>
</body>
</html>