<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="navbar" >
<ul>
    <li><a href="/">Home</a> </li>
    <li><a href="/transport/"> Transports</a> </li>
    <li><a href="/driver/"> Drivers </a> </li>
    <li><a href=""> Orders</a> </li>
    <li><a href=""> Customers</a> </li>
    <li><a href=""> Reports </a> </li>
</ul>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="top-three-blocks" >
    <div class="top-three-blocks-row">
        <div class="top-three-blocks">Сумма заказов <br> ${222}</div>
        <div class="top-three-blocks">Заказы сегодня <br> ${332}</div>
        <div class="top-three-blocks">Завершен сегодня <br> ${123}</div>
    </div>
</th:block>
